.nav {
  grid-area: n;
  background-color: #8b9dc3;
  padding: 15px;
}


.item a {
  text-decoration: none;
  color: black;
}

.item a.active{
  color: #3b5998;
}

.itemBottom a{
  padding-top: 10px;
  text-decoration: none;
  color: black;
}

